
<a [routerLink]="['/Home']">主页</a>

<!-- <a [routerLink]="['/stock']" [queryParams]="{id:1}">股票详情</a> -->  <!--第一种传参方式-->

<a [routerLink]="['/stock',1]" >股票详情</a>  <!--第二种传参方式-->

<input type="button" value="股票详情" (click)="toStockDetail()"/>


<!-- <a [routerLink] = "[{outlets: {aux: 'consult'}}]">开始咨询</a> -->

<a [routerLink] = "[{outlets: {primary: 'Home', aux: 'consult'}}]">开始咨询</a>
<!--主路由调到home上-->
<a [routerLink] = "[{outlets: {aux: null}}]">结束咨询</a>


<!--路由显示区域-->
<router-outlet></router-outlet>


<!--辅助路由显示区域  名字随便取-->
<router-outlet name="aux"></router-outlet>